:root {
  --theme-color: #f7ffe9;
  --text-color: #000;
  --scroll-bar-color: #000;
  --menu-toggle-color: #000;
  --window-height: 100vh;
  --container-width: 1800px;
  --plein-light: "Plein-Light", sans-serif;
  --plein-regular: "Plein-Regular", sans-serif;
  --plein-medium: "Plein-Medium", sans-serif;
  --plein-bold: "Plein-Bold", sans-serif;
}
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: clip;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plein-Medium", sans-serif;
}

body[data-theme="dark"] {
  --theme-color: #040507 !important;
  --text-color: #dbdbdb !important;
  --scroll-bar-color: #929292 !important;
  --menu-toggle-color: #dbdbdb;
}

body[data-theme="white"] {
  --theme-color: #f7ffe9 !important;
  --text-color: #000 !important;
  --scroll-bar-color: #000 !important;
  --menu-toggle-color: #000;
}

body[data-theme="coffee"] {
  --theme-color: #4e343c !important;
  --text-color: #ffffff !important;
  --scroll-bar-color: #8a4359 !important;
  --menu-toggle-color: #ffffff;
}

body[data-theme="teal"] {
  --theme-color: #789678 !important;
  --text-color: #ffffff !important;
  --scroll-bar-color: #87b787 !important;
  --menu-toggle-color: #ffffff;
}
html {
  background-color: var(--theme-color);
  overflow-x: hidden;
}
body {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--theme-color);
  height: 100%;
  width: 100%;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/* THEME SWITCHER */

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
}

.theme-switcher button {
  margin: 0;
  padding: 0;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  cursor: pointer;
  font-size: 0 !important;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  transition: 0.3s ease;
}

.theme-switcher button[data-theme="dark"] {
  background-color: #040507;
}
.theme-switcher button[data-theme="white"] {
  background-color: #f7ffe9;
}
.theme-switcher button[data-theme="coffee"] {
  background-color: #4e343c;
}
.theme-switcher button[data-theme="teal"] {
  background-color: #789678;
}

.theme-switcher button:hover {
  opacity: 0.8;
}

.theme-switcher button[data-theme="dark"].active {
  border-color: #9a9a9a !important;
}
.theme-switcher button[data-theme="white"].active {
  border-color: #c9c9c9 !important;
}
.theme-switcher button[data-theme="coffee"].active {
  border-color: #8a4359 !important;
}
.theme-switcher button[data-theme="teal"].active {
  border-color: #90af90 !important;
}

/* LIGHTBOX */

.fancybox__backdrop,
.fancybox__thumbs {
  background-color: var(--theme-color);
}
.fancybox__container .f-button {
  background-color: transparent !important;
  cursor: pointer !important;
}
.fancybox__container .f-button:disabled {
  opacity: 0.4 !important;
}
.fancybox__container .f-button svg {
  filter: none;
  stroke: var(--text-color);
}
.fancybox__toolbar {
  text-shadow: none;
  color: var(--text-color);
}

/* LIGHTBOX END */

/* SPINNER */

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  z-index: 900;
  display: flex;
}

.spinner__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.spinner__counter {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.spinner__mask {
  position: relative;
  width: 5.625rem;
  height: 8.125rem;
  text-align: center;
  overflow: hidden;
}
.spinner__number {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 8.125rem;
  font-weight: 800;
  line-height: 1;
  color: var(--text-color);
  font-family: var(--plein-medium);
  transform: translateY(0px);
}
.spinner-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 1;
}

body[data-theme="white"] .spinner-fill {
  background-color: rgba(0, 0, 0, 0.1);
}
body[data-theme="dark"] .spinner-fill,
body[data-theme="coffee"] .spinner-fill,
body[data-theme="teal"] .spinner-fill {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1024px) {
  .spinner__mask {
    width: 8rem;
    height: 12.5rem;
  }
  .spinner__number {
    font-size: 12.5rem;
  }
}

.canvas-grid {
  display: grid;
  height: var(--window-height);
  background-color: transparent !important;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  opacity: 0.1;
  mix-blend-mode: difference;
}
.canvas-column {
  background-color: transparent !important;
  border-right: 1px solid #ddd !important;
  display: none;
}
.canvas-column:nth-child(1) {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fbfff1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-color);
}

::-webkit-selection {
  color: #000;
  background-color: #cfdfa9;
}
::selection {
  color: #000;
  background-color: #cfdfa9;
}

@supports (height: 100dvh) {
  :root {
    --window-height: 100dvh;
  }
}

.container {
  max-width: var(--container-width);
  margin: auto;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.revealUp div {
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
}

/* HEADER STYLES */

.main-header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 767px) {
  .main-header {
    background-color: var(--theme-color);
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  position: relative;
}

.header-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a.main-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 1rem;
  outline: 0;
  line-height: 1.2;
}

a.main-logo span.logo-title {
  font-size: 1rem;
  font-family: var(--plein-bold);
}

a.main-logo span.logo-sub-title {
  font-family: var(--plein-regular);
  font-size: 0.9rem;
  white-space: nowrap;
}

nav.nav a {
  text-decoration: none;
  color: var(--text-color);
  outline: 0;
  font-family: var(--plein-medium);
  font-size: 0.9rem;
  position: relative;
  line-height: 1;
  display: inline-block;
  padding: 4px 8px;
}
nav.nav a:not(:last-child) {
  margin-right: 20px;
}
a.link {
  position: relative;
}
a.link::before {
  content: "";
  height: 25%;
  width: 0;
  background-color: var(--text-color);
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.3s ease;
}

a.link:hover::before,
a.link.active::before {
  left: 0;
  width: 100%;
}
/* nav.nav a:hover {
  color: #869e3e;
} */

/* HOME STYLES */

.hero-section,
.card-section,
.main-footer {
  width: 100%;
  height: var(--window-height);
  position: relative;
  overflow: hidden;
}
.card-section {
  perspective: 1200px;
}
.hero-section .hero-title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--plein-bold) !important;
  font-size: 15vh;
  color: var(--text-color);
  letter-spacing: -4px;
  line-height: 0.8;
  font-weight: 800;
  white-space: nowrap;
  word-break: keep-all;
}
.hero-section .hero-title div {
  font-family: var(--plein-bold) !important;
}

.card-section.scroll {
  position: relative;
}

.card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
  width: 90%;
  height: 95vh;
  border-radius: 20px;
  overflow: hidden;
  transform-origin: top center;
}
.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-footer .container {
  height: 100%;
}
.footer-informations {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 0;
}
.contact-text {
  text-align: center;
}
p.footer-caption-text {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--plein-medium);
}
.contact-text a {
  font-size: 2rem;
  font-family: var(--plein-bold);
  color: var(--text-color);
  text-decoration: none;
}

.footer-basic-infos {
  text-align: center;
}
.basic-info-row {
  margin-top: 30px;
}

.basic-info-row a.footer-link {
  text-decoration: none;
  font-size: 1rem;
  margin: 0 10px;
  outline: 0;
  font-family: var(--plein-bold);
  color: var(--text-color);
}
.basic-info-row p.footer-sm-text,
.basic-info-row p.footer-sm-text > a {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1;
}

.basic-info-row.footer-copyright {
  text-align: center;
}

.basic-info-row.footer-copyright p.footer-sm-text {
  display: inline-block;
  font-family: var(--plein-regular);
}

.basic-info-row p.footer-sm-text > a {
  text-decoration: none;
}

.basic-info-row.footer-copyright p.footer-sm-text span.spacer {
  height: 22px;
  width: 1px;
  display: inline-block;
  background-color: var(--text-color);
  vertical-align: middle;
  margin: 0 10px;
}

.heart-svg {
  transform: scale(1);
  -webkit-animation: heartPulse 1s infinite;
  animation: heartPulse 1s infinite;
  vertical-align: middle;
  fill: var(--text-color);
}

@-webkit-keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

section.main-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  min-height: 100%;
}

/* SHOWCASE STYLES */

ul.image-grid {
  columns: 2;
  column-gap: 2rem;
  user-select: none;
  overflow: hidden;
  margin-bottom: 40px;
}

ul.image-grid .image-grid-item {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}

ul.image-grid .image-grid-item a {
  display: block;
}

ul.image-grid .image-grid-item img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer !important;
  vertical-align: middle;
}

.tilt-from-top {
  transform-origin: top center;
  transform: rotateX(-15deg) !important;
}

.tilt-from-bottom {
  transform-origin: bottom center;
  transform: rotateX(15deg) !important;
}
.showcase-end-message {
  color: var(--text-color);
  text-align: center;
  font-size: 0.9rem;
  padding: 50px 0;
  font-family: var(--plein-bold);
  max-width: 300px;
  margin: auto;
  line-height: 1.5rem;
}

/* ABOUT ME */

.inner-page-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

h1.inner-page-title {
  font-size: 3rem;
  font-family: var(--plein-light);
  font-weight: 300;
  text-align: center;
  line-height: 1;
  margin-bottom: 72px;
  color: var(--text-color);
}

p.about-sub-title {
  margin-bottom: 72px;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1rem;
  font-family: var(--plein-medium);
  color: var(--text-color);
}
.avatar-wide {
  width: 100%;
  margin-bottom: 50px;
}
.avatar-wide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.about-description p {
  font-size: 1rem;
  font-family: var(--plein-regular);
  line-height: 1.6rem;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 26px;
}

/* CONTACT */

.inner-page-wrapper.contact-page-wrapper .sub-title {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--plein-medium);
  text-align: center;
}

.inner-page-wrapper.contact-page-wrapper .sub-title a.link {
  word-break: keep-all;
  white-space: nowrap;
  color: var(--text-color);
  font-family: var(--plein-bold);
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 0;
  padding: 10px 24px;
  border: 1px solid var(--text-color);
  text-decoration: none;
}
.inner-page-wrapper.contact-page-wrapper .sub-title a.link::before {
  height: 100%;
  top: 0;
  transform: translateY(0);
}

.contact-social-links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.contact-social-links a.footer-link {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
  outline: 0;
  font-family: var(--plein-bold);
  color: var(--text-color);
}

.inner-page-wrapper.contact-page-wrapper h3 {
  font-size: 1rem;
  font-family: var(--plein-bold);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

/* MENU */

.burger {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-lines {
  width: 100%;
  height: 100%;
}

.menu-lines .line__top,
.menu-lines .line__bottom {
  height: 1px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.2, 0.6, 0.3, 1),
    width 0.3s cubic-bezier(0.2, 0.6, 0.3, 1);
  background-color: var(--menu-toggle-color);
}

.menu-lines .line__top {
  transform: translatey(-5.5px);
}

.menu-lines .line__bottom {
  transform: translatey(5.5px);
}

.menu__active .menu-lines .line__top {
  transform: translatex(3.5px) rotate(-45deg);
  width: 28px;
}

.menu__active .menu-lines .line__bottom {
  transform: translatex(3.5px) rotate(45deg);
  width: 28px;
}

.main-sm-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--theme-color);
  height: 100%;
  width: 100%;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  z-index: 499;
  transition: background-color 0.3s;
  transition-duration: 0.5s;
}
.menu-sm-content {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  position: relative;
}
nav.main-sm-navigations {
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}
ul.main-sm-navigation-list {
  padding: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
}
ul.main-sm-navigation-list li {
  margin-bottom: 20px;
  list-style-type: none;
}
ul.main-sm-navigation-list li a {
  color: var(--text-color);
  font-family: var(--plein-regular);
  font-weight: 500;
  font-size: 2.8rem;
  text-decoration: none;
  outline: 0;
  text-transform: uppercase;
  transition: color 0.3s;
  transition-duration: 0.5s;
}

.sm-theme-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sm-theme-selector .theme-switcher {
  gap: 20px;
}
.sm-theme-selector .theme-switcher button {
  width: 30px;
  height: 30px;
}
.sm-theme-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
